<p id="notice"><%= notice %></p>

<h1>Listing Check Links</h1>

<table>
  <thead>
    <tr>
      <th>Checked url</th>
      <th>Errors found</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_links.each do |check_link| %>
      <tr>
        <td><%= check_link.checked_url %></td>
        <td><%= check_link.errors_found %></td>
        <td><%= link_to 'Show', check_link %></td>
        <td><%= link_to 'Edit', edit_check_link_path(check_link) %></td>
        <td><%= link_to 'Destroy', check_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check link', new_check_link_path %>
